@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f5f2;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

h1, h2, h3 {
  @apply font-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  padding: 5rem 0;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

article {
  will-change: transform;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
